.rs-contact-form {
  .css-1pahdxg-control,
  .css-1s2u09g-control {
    background-color: rgba(0, 0, 0, 0.06);
    border: unset !important;
    box-shadow: unset !important;
  }

  .form-control {
    min-height: 40px;
    &.css-b62m3t-container {
      padding: 0px !important;
      background: transparent !important;
      border: unset !important;
    }
  }
}

.custom-table {
  .btn {
    min-width: 0;
  }

  .thumbnail {
    width: 100px;
    max-height: 100px;
  }

  .action-cell {
    min-width: 100px;
    justify-content: center;
    align-items: center;
    .btn {
      padding: 5px 10px !important;
    }
  }

  .confirm {
    padding: 5px;
    position: absolute;
    font-size: 12px;
    background: #f3f3f3;
    width: 100%;
    border: 1px solid #efefef;
    height: 58px;
    text-align: center;
    top: 0px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.06);
    .confirmbtn {
      display: flex;
      justify-content: center;
      margin-top: 6px;
      .btn {
        padding: 2px !important
      }
    }
  }
}

.Toastify {
  button,
  input {
    min-width: 0;
  }
}